@{
  Layout = "_Layout";
}


<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <h2>No search results</h2>
            <hr/>
            <p>@Html.ActionLink("Add New Stylist", "Create")</p>
            <p>@Html.ActionLink("Add New Client", "Create", "Clients")</p>
            <p>@Html.ActionLink("Home", "Index", "Home")</p>
            <p>@Html.ActionLink("Search", "Search")</p>
        </div>
    </div>
</div>