@{
  Layout = "_Layout";
}


<h2>No search results</h2>
<hr />

<p>@Html.ActionLink("Add new stylist", "Create")</p>
<p>@Html.ActionLink("Add new client", "Create", "Clients")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Search", "Search")</p>
