@{
    Layout = "_Layout";
}

<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                  <p>@Html.ActionLink("See All Stylists", "Index", "Stylists")</p>
                </div>
                <div class="col-md-6">
                  <p>@Html.ActionLink("See All Clients", "Index", "Clients")</p>
                </div>
            </div>
        </div>
    </div>
</div>